$listing-font:'Spartan',
sans-serif;
$body-bg-Color:#EFFAFA;
$new-color:#5BA4A4;
$company-color:#5BA4A4;
$featured-color:#2C3A3A;
$status-font-color:#7B8E8E;
$skill-bg-color:#EFFAFA;
$skill-font-color:#5BA4A4;
$border-color:#5BA4A4;
$hr-color:#7B8E8E;
$listing-bg:#fff;
$font-white:#fff;
$header-bg-color:#5BA4A4;